header {
  // display: flex;
  align-items: end;
  background-color: black;
  background-color: #21252b;
  width: 350px;
  position: fixed;
  height: 100%;

  h1 {
    display: none;
  }

  ul {
    // display: flex;
    list-style: none;
    margin-top: 100px;
    margin-left: 20px;

    li {
      margin: 30px;
    }
  }

  a {
    padding: 15px 15px 10px;
    text-decoration: none;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 10px 10px 0 0;
  }

  .selected {
    background-color: #282C34;
  }
}
