.pop {
  // --lightness: 12%;
  // --saturation: 50%;
  // --lightness: 27%;
  // --saturation: 43%;
  --lightness: 24%;
  --saturation: 50%;
  background-color: #1f212c;
  background-color: #3d4049;
  background-color: hsl(var(--color), var(--saturation), var(--lightness));
  margin: 22px;
  border-radius: 10px;
  width: 200px;
  color: white;
  padding-bottom: 10px;
  position: relative;
  --lightness-outline: 7%;
  cursor: pointer;
  // outline: 7px solid hsl(var(--color), var(--saturation), var(--lightness-outline));
  transition: transform 0.25s;
  min-height: 321px;
  display: block;
  text-decoration: none;

  &.wanted {
    // background-color: #13111B;
    // opacity: 0.75;
  }

  .image_effect {
    height: 169px;
    width: 100%;
    position: relative;
    padding-bottom: 20px;
    overflow: hidden;
    padding-top: 20px;
    border-radius: 10px 10px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    --lightness-g: 24%;
    --saturation-g: 75%;
    --lightness-g2: 12%;
    --saturation-g2: 50%;
    --color-g: 198;
    background: radial-gradient(ellipse at center, hsl(var(--color), var(--saturation-g), var(--lightness-g)), hsl(var(--color), var(--saturation-g2), var(--lightness-g2)));

    > div {
      top: 0;
      left: 0;
      position: absolute;
      width: 100%;
      height: 100%;
      filter: blur(2px);
    }

    .new_pop_shadow {
      height: 50px;
      width: 100%;
      position: absolute;
      transform-origin: bottom left;
      filter: brightness(0) drop-shadow(0px -20px 5px rgba(0, 0, 0, 0.25)) blur(0px) drop-shadow(0 0 0px black);
      opacity: 10.75;
      transform: perspective(2rem) rotateX(45deg);
      top: 138px;
      mask-image: linear-gradient(135deg, transparent, rgba(0, 0, 0, 0.75));
    }

    &.pop_shadow:before {
      content: "";
      width: 100%;
      height: 100%;
      // background-image: url("./shadow.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      opacity: 0.7;
      top: 26px;
      position: absolute;
      transform: scaleY(0.77);
      left: 2px;
    }

    img {
      filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.5)) contrast(115%);
      filter: drop-shadow(-2px 5px 5px rgba(0, 0, 0, 0.25)) contrast(115%);
      max-width: 100%;
      max-height: calc(100% - 40px);
      transition: all 0.2s ease;
      position: absolute;

      &:last-child {
        // transform: translateX(15%) scale(1.2);
        // opacity: 0;
      }
    }
  }

  .stickers {
    display: flex;
    height: 60px;
    width: calc(100% - 10px);
    padding: 0 5px;

    img {
      height: calc(100% - 20px);
      max-width: 65px;
      filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.25));
      margin: 10px 5px;
    }
  }

  .info {
    padding: 15px 10px 0;
    overflow: hidden;

    h1,
    h2,
    h3 {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    h1 {
      text-transform: uppercase;
      font-size: 16px;
      font-weight: bold;

      span {
        font-size: 12px;
      }
    }

    h2 {
      // background-color: rgba(0, 0, 0, 0.75);
      padding: 5px;
      border-radius: 5px;
      font-size: 16px;
      font-weight: normal;
      opacity: 0.75;
      margin-top: 5px;
      margin-left: -5px;
    }

    h3 {
      font-size: 14px;
      font-weight: normal;
      opacity: 0.5;
    }
  }

  .price {
    position: absolute;
    top: calc(100% - 69px);
    right: 0;
    transform: translateX(15%);
    max-width: 60px;
    display: flex;
    flex-direction: column;
    font-size: 9px;

    h2 {
      --lightness: 30%;
      background-color: hsl(var(--color), var(--saturation), var(--lightness));
      padding: 5px;
      border-radius: 9px 5px 5px 9px;
      margin-bottom: 5px;
      font-weight: 600;
      color: white;
      position: relative;
      background-color: orange;
      height: 18px;

      &:first-child {}

      &:before {
        content: "";
        border-style: solid;
        border-width: 13px 12.5px 13px 0;
        border-color: transparent orange transparent transparent;
        position: absolute;
        left: -8px;
        top: 1.3px;
      }

      &.price_estimated {
        // --lightness: 100%;
        background-color: hsl(var(--color), var(--saturation), var(--lightness));

        &:before {
          border-color: transparent hsl(var(--color), var(--saturation), var(--lightness)) transparent transparent;
        }
      }
    }
  }

  &.wanted {
    // --color: 0;
    // outline: 4px solid #ff000078;
    filter: brightness(75%);

    .image_effect > img {
      filter: brightness(100%);
    }

    .price {
      top: calc(100% - 69px + 28px + 5px);

      h2 {
        // &:before {
        //   content: "";
        //   border-style: solid;
        //   border-width: 14px 10px 14px 0;
        //   border-color: transparent hsl(var(--color), var(--saturation), var(--lightness)) transparent transparent;
        //   position: absolute;
        //   left: -8px;
        //   top: 0px;
        //   border-radius: 5px;
        // }
      }
    }
  }

  &:hover {
    transform: scale(1.04);
    --lightness: 34%;
    filter: brightness(100%);

    .image_effect {
      --lightness-g: 34%;
      --saturation-g: 75%;

      > div img {
        transform: perspective(0.25rem) rotateX(calc(-4deg));
        opacity: .5;
      }

      > img {}
    }
  }
}

.ghost_pop {
  width: 200px;
  margin: 22px;
}
